car {
    display: block;
    border: 1px solid blue;
    padding: 25px;
    background-color: pink;
  }
  year {
    color: darkgreen;
    font-weight: bolder;
  }
  model {
    color: darkred;
    font-weight: bolder;
    font-family: broadway;
  
  }
  accessories{color: blue;}